<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
      
    <!--返回鍵 回到主頁-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- 
  <ion-card>
    <ion-card-content>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto"> 
          <div>
            <img  style="max-height: 250px;" src="https://2.bp.blogspot.com/-5RP5j25aH_Q/XHYwfgfzlgI/AAAAAAAACcE/zj5pI_MZh6YjHntvoryfRlzgZQ0C0OMxwCLcBGAs/s1600/20190227-IMG_7484.jpg"  />
            <div class="evaluation_star"><ion-icon class="iconSize" slot="end" name="star"></ion-icon> 4.5</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-card-title>
        駁二藝術特區
      </ion-card-title>
      <ion-card-subtitle>
        803高雄市鹽埕區大勇路1號
      </ion-card-subtitle>
      
      <ion-chip color="primary">
        <ion-label>類型一</ion-label>
      </ion-chip>
      <ion-chip color="primary">
        <ion-label>類型二</ion-label>
      </ion-chip>
      <p class="hello substr">
        駁二藝術特區是一個位於臺灣高雄市鹽埕區、鼓山區的藝術園區，以「前衛、實驗、創新」為理念來打造國際藝術平台
      </p>
     
      <ion-row>
        <ion-col>
          <ion-label ngDefaultControl [(ngModel)]="distance">{{distance}}</ion-label>
        </ion-col>
        <ion-col>
      <ion-label ngDefaultControl [(ngModel)]="openingorNot">{{openingorNot}}</ion-label>
      </ion-col>
      <ion-label ngDefaultControl [(ngModel)]="openPeriod">{{openPeriod}}</ion-label>
      <ion-label ngDefaultControl [(ngModel)]="phoneNumber">電話{{phoneNumber}}</ion-label>
      
    </ion-row>
    <ion-list>
      <ion-item *ngFor="let item of googles">
        {{item.phoneNumber}} 
      </ion-item>
    </ion-list>
    <ion-button expand="full" (click)="UpdateCollection()">+</ion-button>
    <ion-button expand="full" (click)="Test()">Test</ion-button>
    

    <ion-item-options side="end"> 
      <ion-item-option >Favorite</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>-->
  <ion-item-sliding>
    <ion-item>
      <ion-card-content>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto"> 
            <div>
              <img  style="max-height: 250px;" src="https://2.bp.blogspot.com/-5RP5j25aH_Q/XHYwfgfzlgI/AAAAAAAACcE/zj5pI_MZh6YjHntvoryfRlzgZQ0C0OMxwCLcBGAs/s1600/20190227-IMG_7484.jpg"  />
              <div class="evaluation_star"><ion-icon class="iconSize" slot="end" name="star"></ion-icon> 4.5</div>
            </div>
          </ion-col>
        </ion-row>
        <ion-card-title>
          駁二藝術特區
        </ion-card-title>
        <ion-card-subtitle>
          803高雄市鹽埕區大勇路1號
        </ion-card-subtitle>
        
        <ion-chip color="primary">
          <ion-label>類型一</ion-label>
        </ion-chip>
        <ion-chip color="primary">
          <ion-label>類型二</ion-label>
        </ion-chip>
        <!--<ion-button expand="full" (click)="UpdateCollection()">+</ion-button>-->
        <ion-button expand="full">+</ion-button>
      </ion-card-content>
  </ion-item>

  <ion-item-options side="end"> 
    <ion-item-option >Favorite</ion-item-option>
  </ion-item-options>
</ion-item-sliding>
  <div #mapElement class='map'></div> 
  
</ion-content>
