<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
      
    <!--返回鍵 回到主頁-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <!-- <ion-card>
    <ion-item>
      <ion-icon name="logo-react"></ion-icon>
      <ion-label>奇美博物館</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-row>
        <ion-col col-4>
          <img src="https://s.yimg.com/ny/api/res/1.2/7RJ44W3RWlpRYa7P4pe82w--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAwO2lsPXBsYW5l/http://media.zenfs.com/zh_hant_tw/News/bcc/pcl_20180702_120000.jpg"  />
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>
      <p class="hello substr">
        奇美博物館，位於臺灣臺南市仁德區，為奇美實業創辦人許文龍創立，是臺灣館藏最豐富的私人博物館、美術館。以典藏西洋藝術品為主，展出藝術、樂器、兵器與自然史四大領域。樂器領域，擁有全球數量最多小提琴收藏，其中包含世界各大製琴師名作。藝術方面，典藏台灣最完整西方繪畫雕塑，目標為建構出基礎西洋藝術史脈絡。
      </p>
    </ion-card-content>
  </ion-card>-->
  <ion-item-sliding>
    <ion-item>
        <ion-card-content>
          <ion-row class="ion-justify-content-center">
            <ion-col size="auto"> 
              <div>
                <img style="max-height: 250px;" src="https://s.yimg.com/ny/api/res/1.2/7RJ44W3RWlpRYa7P4pe82w--~A/YXBwaWQ9aGlnaGxhbmRlcjtzbT0xO3c9ODAwO2lsPXBsYW5l/http://media.zenfs.com/zh_hant_tw/News/bcc/pcl_20180702_120000.jpg"  />
                <div class="evaluation_star"><ion-icon class="iconSize" slot="end" name="star"></ion-icon> 4.7</div>
              </div>
            </ion-col>
          </ion-row>
          <ion-card-title>
            奇美博物館
          </ion-card-title>
          <ion-card-subtitle>
            71755台南市仁德區文華路二段66號
          </ion-card-subtitle>
          
          <ion-chip color="primary">
            <ion-label>類型一</ion-label>
          </ion-chip>
          <ion-chip color="primary">
            <ion-label>類型二</ion-label>
          </ion-chip>
        </ion-card-content>
    </ion-item>

    <ion-item-options side="end"> 
      <ion-item-option >Favorite</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-item-sliding>
    <ion-item>
      <ion-card-content>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto"> 
            <div>
              <img  style="max-height: 250px;" src="https://2.bp.blogspot.com/-5RP5j25aH_Q/XHYwfgfzlgI/AAAAAAAACcE/zj5pI_MZh6YjHntvoryfRlzgZQ0C0OMxwCLcBGAs/s1600/20190227-IMG_7484.jpg"  />
              <div class="evaluation_star"><ion-icon class="iconSize" slot="end" name="star"></ion-icon> 4.5</div>
            </div>
          </ion-col>
        </ion-row>
        <ion-card-title>
          駁二藝術特區
        </ion-card-title>
        <ion-card-subtitle>
          803高雄市鹽埕區大勇路1號
        </ion-card-subtitle>
        
        <ion-chip color="primary">
          <ion-label>類型一</ion-label>
        </ion-chip>
        <ion-chip color="primary">
          <ion-label>類型二</ion-label>
        </ion-chip>
        <ion-button expand="full" (click)="UpdateCollection()">+</ion-button>
      </ion-card-content>
  </ion-item>

  <ion-item-options side="end"> 
    <ion-item-option >Favorite</ion-item-option>
  </ion-item-options>
</ion-item-sliding>
  <div #mapElement class='map'></div> 
  
</ion-content>
