<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      探索
    </ion-title>
    
    <!--返回鍵 回到主頁-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

  <!--固定問題-->
  <ion-list>
    <ion-list-header>
      <ion-label>
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>距離範圍(以內)</ion-label>
      <ion-select placeholder="-">
        <ion-select-option value="2km">2公里</ion-select-option>
        <ion-select-option value="5km">5公里</ion-select-option>
        <ion-select-option value="10km">10公里</ion-select-option>
        <ion-select-option value="20km">20公里</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>交通工具</ion-label>
      <ion-select placeholder="-" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="default">走路</ion-select-option>
        <ion-select-option value="blonde">騎車</ion-select-option>
        <ion-select-option value="black">汽車</ion-select-option>
        <ion-select-option value="red">大眾運輸</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>時段</ion-label>
      <ion-select placeholder="-" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="default">早上</ion-select-option>
        <ion-select-option value="blonde">下午</ion-select-option>
        <ion-select-option value="black">晚上</ion-select-option>
        <ion-select-option value="black">深夜</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>消費金額</ion-label>
      <ion-select value="default" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="default">不限</ion-select-option>
        <ion-select-option value="blonde">$</ion-select-option>
        <ion-select-option value="black">$$</ion-select-option>
        <ion-select-option value="red">$$$</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>
    
  <!--進入到多選項 同時將資料傳進後端-->
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)='turnpage()'>下一步</ion-button>
  </div>
</ion-content>
