<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      探索
    </ion-title>
    
    <!--返回鍵 回到主頁-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list-header>
    <h4>輸入當前位置地址 : </h4>
  </ion-list-header> 
   <!-- searchbar auto -->
    <ion-searchbar [(ngModel)]="autocomplete.input" (ngModelChange)="UpdateSearchResults( $event )" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
    <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
  <!-- 顯示目前位置 -->
  <ion-list-header>
    經度 : {{ lat }} <br>     
    緯度 : {{ long }} 
  </ion-list-header>
  
</ion-header>


<ion-content class="ion-padding">
  <ion-list>
    <!-- 輸入距離範圍 -->
    <ion-list-header>
        <h4>選擇距離區間 : {{distanceRange}}</h4>
    </ion-list-header>
      <ion-item>
        <ion-range (ionChange)="ionChange()" min="0" max="100" step="10" snaps="true" pin="true" [(ngModel)]="distanceRange">
          <ion-icon small range-left name="sunny"></ion-icon>
          <ion-icon range-right name="sunny"></ion-icon>
        </ion-range>
      </ion-item>

    <!-- 輸入 景點 / 餐廳 -->
    <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" size="large" id="square-btn" [disabled]="!distanceValid" type="submit" class="ion-margin" (click)='turnpage()'>
          <div class="vertical">
            <ion-icon class="iconSize ion-margin-top" src="assets/img/scenery.svg"></ion-icon>  
            <span class="ion-margin">選擇景點</span>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" size="large" id="square-btn" [disabled]="!distanceValid" type="submit" class="ion-margin" (click)='turnpagetofood()'>
          <div class="vertical">
            <ion-icon class="iconSize ion-margin-top" src="assets/img/food.svg"></ion-icon>  
            <span class="ion-margin">選擇餐廳</span>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-list>
</ion-content>
