<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      探索
    </ion-title>
    
    <!--返回鍵 回到主頁-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

  <!--固定問題-->
  <ion-list>
    <ion-list-header>
      <ion-label>
      </ion-label>
    </ion-list-header>
    
    <!-- 動態 load 表單資料 在 schedule/select-form.service.ts 中更改表單數值及選項-->
    <ion-item *ngFor= "let item of items;let i = index">
      <ion-label>{{item.title}}</ion-label>
      <ion-select placeholder="-" name="item.model" okText="Okay" cancelText="Dismiss" [(ngModel)]="vals[i]">
        <ion-select-option *ngFor = "let option of item.options" [value]=option.value>{{option.text}}</ion-select-option>
      </ion-select>
    </ion-item>

  <!--
   <ion-item>
      <ion-label>距離範圍(以內)</ion-label>
      <ion-select placeholder="-" [(ngModel)]="vals[1]">
        <ion-select-option value="2km">2公里</ion-select-option>
        <ion-select-option value="5km">5公里</ion-select-option>
        <ion-select-option value="10km">10公里</ion-select-option>
        <ion-select-option value="20km">20公里</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>交通工具</ion-label>
      <ion-select placeholder="-" okText="Okay" cancelText="Dismiss" [(ngModel)]="transportion">
        <ion-select-option value="walk">走路</ion-select-option>
        <ion-select-option value="ride">騎車</ion-select-option>
        <ion-select-option value="drive">汽車</ion-select-option>
        <ion-select-option value="mrt">大眾運輸</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>時段</ion-label>
      <ion-select placeholder="-" okText="Okay" cancelText="Dismiss" [(ngModel)]="period">
        <ion-select-option value="morning">早上</ion-select-option>
        <ion-select-option value="afternoon">下午</ion-select-option>
        <ion-select-option value="evening">晚上</ion-select-option>
        <ion-select-option value="midnight">深夜</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>消費金額</ion-label>
      <ion-select value="default" okText="Okay" cancelText="Dismiss" [(ngModel)]="amount">
        <ion-select-option value="unlimit">不限</ion-select-option>
        <ion-select-option value="100">$100</ion-select-option>
        <ion-select-option value="500">$500</ion-select-option>
        <ion-select-option value="2000">$2000</ion-select-option>
      </ion-select>
    </ion-item>
  -->
  </ion-list>
    
  <!--進入到多選項 同時將資料傳進後端-->
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin" (click)='turnpage()'>下一步</ion-button>
  </div>
</ion-content>
