.button-tag{
  --box-shadow:none;
}
.iconSize{
  font-size: small;
}

.evaluation_star{
  background:#fff;
  opacity:0.9;
  color:#000;
  padding: 2px 5px 0px 5px;
  border-radius: 5px;
  position: absolute;
  bottom:15px;
  left: 15px;
}