<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      我的
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="collect" >
    <div class="card-title" >收藏景點</div>
  </ion-card>

  <ion-card class="history" >
    <div class="card-title" >歷史行程</div>
  </ion-card>

  <ion-card class="set" >
    <div class="card-title" >喜好設定</div>
  </ion-card>

  <ion-card class="history_record" >
    <div class="card-title" >歷史紀錄</div>
  </ion-card>
  <ion-list>
    <ion-item><ion-label>關於</ion-label></ion-item>
    <ion-item><ion-label>聯絡我們</ion-label></ion-item>  
  </ion-list>
</ion-content>
