.ion-color-blueIwant {
    --ion-color-base: #134f6c;
    --ion-color-base-rgb: 240, 176, 0;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #d39b00;
    --ion-color-tint: #f2b81a
  }
ion-toolbar{
    --background : #134f6c;
}
// ion-content.background{
//     --background: url(../../../assets/img/selecting_phase/080608.jpg) 0 0/100% 100% no-repeat;
// }
