<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      LOGO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <!--推薦景點 圖片輪播-->
  <ion-card>
    <ion-slides [options]="slideOptsOne" pager="true">
     <ion-slide *ngFor="let slide of slides">
      <div class="card-title" (click)="testshow()">{{slide.place}}</div>
      <div class="card-subtitle">{{distance}}</div>
      <img [src]="slide.img" [routerLink]="['/outcome',slide.place]" >
     </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card >  <!--(click) 換頁function-->
    <img src="assets/img/search/travel-background.png"/>
    <div class="card-title" >篩選行程</div>
    <div class="card-subtitle" (click)="turnpage()">
      現在開始選擇
      <ion-icon name="arrow-forward-circle-outline"></ion-icon>   
   </div>
  </ion-card>
</ion-content>
