<ion-header>
  <ion-toolbar color="primary"></ion-toolbar>

  <!-- searchbar auto -->
  <ion-searchbar [(ngModel)]="autocomplete.input" (ngModelChange)="UpdateSearchResults( $event )" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>


</ion-header>
<ion-content> 
  <p>經度:{{lat}} 緯度:{{long}}</p>
</ion-content>