<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      探索
    </ion-title>
    
    <!--返回鍵 回到主頁-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-text>
    <h4>今天想吃什麼？</h4>
  </ion-text>
  <!--p class="error" *ngIf="this.form.controls['checkArray'].errors?.required"-->
  <!--/p-->

  <!--form [formGroup]="form" (ngSubmit)="submitForm()" novalidate-->
  <ion-grid>
    <ion-row>
      <!--col 為欄位 後面參數設定比例為12格下去做響應式畫面，ngFor迴圈串資料-->
      <ion-col size="6" size-xs="6" size-sm="6" size-md="4" size-lg="3" *ngFor="let label of labels;let i=index">
        <ion-card class="card-background-page">
          <ion-item>
            <ion-card-content>
              <!--要把使用者勾選出來的checkbox選項進行傳遞-->
              <ion-checkbox color="primary" slot="start" [value]="label.name" >[value]="label.title"</ion-checkbox>
              <ion-card-title class="card-title">{{label.title}}</ion-card-title>
              <img [src]="label.img" style="width: 100px; height: 120px;"/>
            </ion-card-content> 
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--進入到outcome-->
  <div class="ion-padding">
    <ion-button>送出</ion-button>
  </div>
<!--form-->
</ion-content>
