<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#" (click)="back()"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>
      <ion-icon slot="start" name="logo-react"></ion-icon>
      <ion-label>{{loadedDetail.Aname}}</ion-label>
    </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-row>
    <ion-col>
      <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{loadedDetail.photo}}&key={{api_key}}"  />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-chip color="primary">
        <ion-label>{{loadedDetail.GoogleClass}}</ion-label>
      </ion-chip>
      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <b>評價分數 :  </b>
      <ion-icon color="warning" class="ion-margin-start" name="star"></ion-icon> {{loadedDetail.Rate}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item-divider lines="none">
          <ion-label>詳細資訊</ion-label>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label class="multi-line">
            <b>地址</b>
            <p>{{loadedDetail.Address}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-label>
            <b>電話</b>
            <p ngDefaultControl [(ngModel)]="phoneNumber">{{phoneNumber}}</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon slot="start" name="alarm-outline"></ion-icon>
          <ion-label class="multi-line">
            <b>營業時間</b>
            <p ngDefaultControl [(ngModel)]="openPeriod">{{openPeriod}}</p>
          </ion-label>
        </ion-item>
        
        <ion-item lines="none">
          <ion-icon slot="start" name="book-outline"></ion-icon>
          <ion-label class="multi-line">
            <b>景點評論</b>
            <p ngDefaultControl [(ngModel)]="review">{{review}}</p>
          </ion-label>
        </ion-item>
        <ion-item-divider>
          <ion-label>距離與時間</ion-label>
        </ion-item-divider>
        <ion-item lines="none">
          <ion-icon slot="start" name="compass-outline"></ion-icon>
          <ion-label>
            <b>目前距離</b>
            <p ngDefaultControl [(ngModel)]="distance">{{distance}}</p>
          </ion-label>
        </ion-item>
       
      </ion-list>
    </ion-col>
  </ion-row>
      <ion-row>
        <ion-col >
          <ion-button *ngIf="openingorNot" expand="block" fill="outline" color="tertiary">營業中</ion-button>
          <ion-button *ngIf="!openingorNot" expand="block" fill="outline" color="medium">休息中</ion-button>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <ion-label ngDefaultControl [(ngModel)]="distance">{{distance}}</ion-label>
        </ion-col>
        <ion-col>
      <ion-label ngDefaultControl [(ngModel)]="openingorNot">{{openingorNot}}</ion-label>
      </ion-col>
      <ion-label ngDefaultControl [(ngModel)]="openPeriod">{{openPeriod}}</ion-label>
      <ion-label ngDefaultControl [(ngModel)]="phoneNumber">電話{{phoneNumber}}</ion-label>
    </ion-row> -->
    <div #mapElement class='map'></div> 
  </ion-content>
