<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <img src="https://2.bp.blogspot.com/-5RP5j25aH_Q/XHYwfgfzlgI/AAAAAAAACcE/zj5pI_MZh6YjHntvoryfRlzgZQ0C0OMxwCLcBGAs/s1600/20190227-IMG_7484.jpg"  />
  <ion-text color="dark" font="微軟正黑體">
    <h6>
      地點：ＸＸＸ<br>
      屬性：？？？<br>
      適合遊玩時間：<br>
      營業時間：<br>
      描述：<br>
      附近景點：A(車程X分鐘)、B(車程X分鐘)<br>
      
      XX%的人喜歡這個景點<br>
    </h6>
  </ion-text>
  
  </ion-content>
